environment:
  matrix:
    - nodejs_version: '14'

install:
  - ps: >
      if ($env:nodejs_version -eq "14") {
        Install-Product node $env:nodejs_version x64
      } else {
        Install-Product node $env:nodejs_version
      }
  - set PATH=%APPDATA%\npm;%PATH%
  - npm install
  - npm install --no-save playwright@1.12.2

matrix:
  fast_finish: false
build: off
shallow_clone: true
test_script:
  - node --version
  - npm --version
  - npx --version
  - npm run build
  - npm test
cache:
  - '%APPDATA%\npm-cache'
